<section class="center-vertical">
    <h1>「<%= params[:q] %>」の検索結果</h1>
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="post center-vertical">
          <h2><%= post.title %></h2>
          <p><%= post.detail %></p>
    
          <% if post.items.any? %>
            <div class="items">
              <h4>アイテム一覧</h4>
              <div class="item-grid">
                <% post.items.each do |item| %>
                  <div class="item-card">
                    <div class="item-name">
                      <%= item.name %>
                    </div>
                    <div class="item-info">
                      <span><%= item.amount %>個</span> |
                      <span><%= item.detail %></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if session[:user_id] %>
          <div class="button-grid">
            <form action="/posts/<%= post.id %>/<%= post.likes.find_by(user_id: session[:user_id]) ? "unlike" : "like" %>" method="post" class="like-form">
              <button type="submit" class="icon-button">
                <img src="/img/<%= post.likes.find_by(user_id: session[:user_id]) ? "heart_on" : "heart_off" %>.png" alt="いいね" class="icon-img">
              </button>
            </form>
            <form action="/posts/<%= post.id %>/<%= post.mylists.find_by(user_id: session[:user_id]) ? "remove_mylist" : "add_mylist" %>" method="post" class="like-form">
              <button type="submit" class="icon-button">
                <img src="/img/<%= post.mylists.find_by(user_id: session[:user_id]) ? "save_on" : "save_off" %>.png" alt="保存" class="icon-img">
              </button>
            </form>
          </div>
          <% end %>
          <p class="like-count">♥ <%= post.likes.count %> 件</p>
        </div>
      <% end %>
    <% else %>
      <p>該当する投稿は見つかりませんでした。</p>
    <% end %>
</section>